doctype html
html
	head
		title LLantera Sonora's
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		//if lte IE 8
			script(src='assets/js/ie/html5shiv.js')
		link(rel="stylesheet", href="assets/css/font-awesome.min.css")
		link(rel='stylesheet', href='assets/css/main.css')
		//if lte IE 9
			link(rel='stylesheet', href='assets/css/ie9.css')

			meta(property='og:title', content='Serving Your Tire &amp; Auto Needs')
			meta(property='og:image', content='')
			meta(property='og:site_name', content='Sonoras Tire Shop')
			meta(property='og:description', content='See why our clients keep coming back! On 19th Avenue and Cactus Rd.')
			link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
			link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
			link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
			link(rel='manifest', href='/manifest.json')
			link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#4a4a4a')
			meta(name='theme-color', content='#fff35a')

	body
		//- .container
		//- 	nav.top
		//- 		#logo
		//- 			img(src="http://placehold.it/100x50", alt="Logo")
		//- 		.top-menu
		//- 			ul
		//- 				li
		//- 					a(href="#") Services
		//- 				li
		//- 					a(href="#") Call
		//- 				li
		//- 					a(href="#") Visit
		//- 				li
		//- 					a(href="#") Deals
		//- 				li
		//- 					select
		//- 						option(value="English") English
		//- 						option(value="Spanish") Espanol

		nav.bottom
			#nav-bg(src="assets/images/navbg.png")
			#menu-icon
				a(href="#")
					i.fa.fa-bars
			.bottom-menu
				ul
					li
						a(href="#contact")
							i.fa.fa-phone
					li
						a(href="#location")
							i.fa.fa-map-marker
					li
						a(href="#hours")
							i.fa.fa-clock-o
					li
						a(href="#language")
							i.fa.fa-language



		header
			img(src="assets/images/shop2.jpg", alt="Sonoras Tire Shop")
			.overlay.yellow
			.content.container
				.row
					.column.colunm-12
						img.header-logo(src="assets/images/logo.svg", alt="LOGO")
				.row
					.column.column-6
						h1 Guaranteed Service!
					.column.column-6
						p.headline-text Come see why our customers keep coming back!

		section.container#services
			.container
				.row
					.column-6
						h2 Services
				.row
					.column.column-3
						img.img-responsive(src="http://lorempixel.com/400/400/abstract", alt="")
					.column.column-3
						img.img-responsive(src="http://lorempixel.com/400/400/abstract", alt="")
					.column.column-3
						img.img-responsive(src="http://lorempixel.com/400/400/abstract", alt="")
					.column.column-3
						img.img-responsive(src="http://lorempixel.com/400/400/abstract", alt="")

		section#contact.container
			.col-1-2
				h1 Contact Us
			.row
				.column.column-6
					p.headline 
						| Getting in touch with us is easy! We are only a phone call away. Click the button below or call us at
						a(href="tel:6028614933", target="_blank") 602-861-4933
						|.
					a.button.default(href="tel:6028614933", target="_blank") Call Us Now!
				.column.column-6
					img.img-responsive(src="http://lorempixel.com/500/500/abstract", alt="Image")

		section#location.container
			.col-1-2
				h1 Location
			.row
				.column.column-12
					img.img-responsive(src="http://lorempixel.com/500/500/abstract", alt="Image")

		section#hours.container
			.col-1-2
				h1 Hours
			.row
				.column.column-12
					table
						tr
							th Day
							th Hours
						tr
							td Monday
							td 8:00 am - 7:30pm
						tr
							td Tuesday
							td 8:00 am - 7:30pm
						tr
							td Wednesday
							td 8:00 am - 7:30pm
						tr
							td Thursday
							td 8:00 am - 7:30pm
						tr
							td Friday
							td 8:00 am - 7:30pm
						tr
							td Saturday
							td 8:00 am - 7:30pm
						tr
							td Sunday
							td 8:00 am - 7:30pm


		footer
			.container
				.row
					.column.column-4
					.column.column-4
						p
							| Made with &hearts; by 
							a(href="http://pocholabs.com", target="_blank") Pocholabs
							|.
					.column.column-4

		// Scripts

		script(src="assets/js/aos.js")
		script(src='assets/js/main.js')
