doctype html
html
	head
		title LLantera Sonora's
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		//if lte IE 8
			script(src='assets/js/ie/html5shiv.js')
		link(rel="stylesheet", href="assets/css/font-awesome.min.css")
		link(rel='stylesheet', href='assets/css/main.css')
		//if lte IE 9
			link(rel='stylesheet', href='assets/css/ie9.css')

			meta(property='og:title', content='Serving Your Tire &amp; Auto Needs')
			meta(property='og:image', content='')
			meta(property='og:site_name', content='Sonoras Tire Shop')
			meta(property='og:description', content='See why our clients keep coming back! On 19th Avenue and Cactus Rd.')
			link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
			link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
			link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
			link(rel='manifest', href='/manifest.json')
			link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#4a4a4a')
			meta(name='theme-color', content='#fff35a')

	body


		nav.bottom(data-aos="slide-up", data-aos-anchor="body", data-aos-placement="top-top")
			#nav-bg(src="assets/images/navbg.png")
			//- #menu-icon
			//- 	a(href="#")
			//- 		i.fa.fa-bars
			.bottom-menu
				ul.text-center
					li
						a.scroll(href="#top")
							i.fa.fa-home
					li
						a.scroll(href="#contact")
							i.fa.fa-phone
					li
						a.scroll(href="#location")
							i.fa.fa-map-marker
					li
						a.scroll(href="#hours")
							i.fa.fa-clock-o
					li#four
						a(href="#language")
							i.fa.fa-language

		header#top
			.overlay.black
			.content
				.row
					.column.colunm-12
						//img.header-logo.img-responsive(src="assets/images/logo.svg", alt="LOGO")
						//!= partial('_partials/logo.jade')
						canvas#canvas(width="800", height="400", data-aos="flip-down")
				.row
					.column.column-6
						h1.i18n(data-en="Guaranteed Service!", data-es="Servicio Garantizado!") Guaranteed Service!
						p.headline-text.i18n(data-en="Come see why our customers keep coming back!", data-es="Ven a saber porque nuestra clientela sigue regresando!") Come see why our customers keep coming back!

		section#services
			.container
				.row
					.column-6
						h2.i18n(data-en="Services", data-es="Servicios") Services
				.row
					.column.column-3
						.overlay.black
						img.img-responsive(src="assets/images/service-2.jpg", alt="New and Used Tires")
						.content
							p.i18n(data-en="New &amp; Used Tires", data-es="Llantas Nuevas &amp; Usadas") New &amp; Used Tires
					.column.column-3
						.overlay.black
						img.img-responsive(src="assets/images/service-3.jpg", alt="Tire Repair")
						.content
							p.i18n(data-en="Tire Repair", data-es="Reparaci&oacute;n de llantas") Tire Repair
					.column.column-3
						.overlay.black
						img.img-responsive(src="assets/images/service-1.jpg", alt="Alignment")
						.content
							p.i18n(data-en="Alignment", data-es="Alineaci&oacute;n") Alignment
					.column.column-3
						.overlay.black
						img.img-responsive(src="assets/images/service-4.jpg", alt="Rotation")
						.content
							p.i18n(data-en="Rotation", data-es="Rotaci&ocute;n") Rotation
				.row
					.column.column-3
						.overlay.black
						img.img-responsive(src="assets/images/service-5.jpg", alt="Brakes")
						.content
							p.i18n(data-en="Brakes", data-es="Frenos") Brakes
					.column.column-3
						.overlay.black
						img.img-responsive(src="assets/images/service-6.jpg", alt="Oil Change")
						.content
							p.i18n(data-en="Oil Change", data-es="Cambio de Aceite") Oil Change
					.column.column-3
						.overlay.black
						img.img-responsive(src="assets/images/service-7.jpg", alt="Tune Up")
						.content
							p.i18n(data-en="Tune Up", data-es="Tune Up") Tune Up
					.column.column-3
						.overlay.black
						img.img-responsive(src="assets/images/service-8.jpg", alt="Other Mechanic Work")
						.content
							p.i18n(data-en="Other Mechanic Work", data-es="Mecanica en General") Other Mechanic Work

		section#contact
			.container
				.row
					.col-1-2
						h2.i18n(data-en="Contact Us", data-es="Contactenos") Contact Us
					.row
						.column.column-6
							p.headline.i18n(data-en="Getting in touch with us is easy! We are only a phone call away. Click the button below or call us at 602-861-4933.", data-es="Es muy facil contactarse con nosotros! Estamos disponibles por telefono en el numero 602-861-4933.") Getting in touch with us is easy! We are only a phone call away. Click the button below or call us at 602-861-4933.
							p
								a.button.default.i18n(href="tel:6028614933", target="_blank", data-en="Call Us Now!", data-es="Llamanos Hoy!") Call Us Now!
						.column.column-6
							img.img-responsive(src="assets/images/contact.jpg", alt="Contact Us")

		section#location
			.container
				.col-1-2
					h2.i18n(data-en="Location", data-es="Domicilio") Location
				.row
					.column.column-12
						h4 1938 W Cactus Rd, Phoenix, AZ 85029
				.row
					.column.column-12
						.iframe-overlay(onClick="style.pointerEvents='none'")
						iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.3253359708406!2d-112.10311734910412!3d33.596862248942415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b6c3227ed3d83%3A0x3ce174b280843a19!2sSonoras+Tire+Shop!5e0!3m2!1sen!2sus!4v1482370411700', frameborder='0', style='border:0;width:100%;height:auto;min-height:600px;', allowfullscreen='')

		section#hours
			.container
				.col-1-2
					h2.i18n(data-en="Hours Of Operation", data-es="Horario") Hours
				.row
					.column.column-12
						table#hours-table
							tr
								th.i18n(data-en="Day", data-es="Dia") Day
								th.i18n(data-en="Hours", data-es="Horario") Hours
							tr
								td.i18n(data-en="Monday", data-es="Lunes") Monday
								td 8:00 am - 7:30pm
							tr
								td.i18n(data-en="Tuesday", data-es="Martes") Tuesday
								td 8:00 am - 7:30pm
							tr
								td.i18n(data-en="Wednesday", data-es="Miercoles") Wednesday
								td 8:00 am - 7:30pm
							tr
								td.i18n(data-en="Thursday", data-es="Jueves") Thursday
								td 8:00 am - 7:30pm
							tr
								td.i18n(data-en="Friday", data-es="Viernes") Friday
								td 8:00 am - 7:30pm
							tr
								td.i18n(data-en="Saturday", data-es="Sabado") Saturday
								td 8:00 am - 7:30pm
							tr
								td.i18n(data-en="Sunday", data-es="Domingo") Sunday
								td 8:00 am - 7:30pm


		footer
			.overlay.black
			.container
				.row
					.column.column-12
						p.text-center
							| Designed &amp; Coded with &hearts; by 
							a(href="http://pocholabs.com", target="_blank") Pocholabs
							|.

		#modal-container
			.modal-background
				.modal
					h2.i18n(data-en="Language", data-es="Lenguaje") Language
					.button.default.i18n.language-button(data-lang="en", data-en="English", data-es="English") English
					br
					br
					.button.default.i18n.language-button(data-lang="es", data-en="Espa&ntilde;ol", data-es="Espa&ntilde;ol") Espa&ntilde;ol
					//svg.modal-svg(xmlns='http://www.w3.org/2000/svg', width='100%', height='100%', preserveaspectratio='none')
					//rect(x='0', y='0', fill='none', width='226', height='162', rx='3', ry='3')


		// Scripts

		script(src="assets/js/aos.js")
		script(src="assets/js/smoothscroll.js")
		script(src='assets/js/main.js')
