doctype html
html
	head
		title LLantera Sonora's
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		//if lte IE 8
			script(src='assets/js/ie/html5shiv.js')
		link(rel="stylesheet", href="assets/css/font-awesome.min.css")
		link(rel='stylesheet', href='assets/css/main.css')
		//if lte IE 9
			link(rel='stylesheet', href='assets/css/ie9.css')

			meta(property='og:title', content='')
			meta(property='og:image', content='')
			meta(property='og:site_name', content='')
			meta(property='og:description', content="")
			link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
			link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
			link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
			link(rel='manifest', href='/manifest.json')
			link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
			meta(name='theme-color', content='#ffffff')

	body
		.container
			nav.top
				#logo
					img(src="http://placehold.it/100x50", alt="Logo")
				.top-menu
					ul
						li
							a(href="#") Services
						li
							a(href="#") Call
						li
							a(href="#") Visit
						li
							a(href="#") Deals
						li
							select
								option(value="English") English
								option(value="Spanish") Espanol

		nav.bottom
			#nav-bg(src="assets/images/navbg.png")
			.bottom-menu
				ul
					li
						a(href="#")
							i.fa.fa-phone
					li
						a(href="#")
							i.fa.fa-map-marker
					li
						a(href="#")
							i.fa.fa-clock-o
					li
						a(href="#")
							i.fa.fa-language




		header
			img(src="http://lorempixel.com/1400/800/abstract", alt="Sonoras Tire Shop")
		.container
			.col-1-2
				h1 LLanteras Sonora's
			.row
				.column.column-4
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis iusto, magni incidunt deserunt, aliquid eveniet. Eius dolorum neque eveniet sint. Non consequatur repellendus nisi maxime suscipit. Ipsam delectus, ad commodi!
				.column.column-8
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis iusto, magni incidunt deserunt, aliquid eveniet. Eius dolorum neque eveniet sint. Non consequatur repellendus nisi maxime suscipit. Ipsam delectus, ad commodi!
			.row
				.column.column-12
					img.img-responsive(src="http://lorempixel.com/500/1000/abstract", alt="Image")
			.row
				.column.column-12
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus possimus aliquam, itaque quod vel quaerat eos impedit non, fugiat quae porro beatae illum commodi amet! Atque non animi magnam harum!
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolor odit vitae, quae incidunt maiores cumque eaque illo, ducimus totam debitis fuga ab recusandae veritatis aperiam voluptatum. Eaque, ullam ipsum temporibus, earum maiores ea repellendus tenetur iste a, deleniti non voluptas minus qui explicabo cumque expedita facere quisquam repudiandae doloribus iusto odit quasi possimus. Libero explicabo suscipit iste voluptas molestias! Deserunt repellendus adipisci cum sequi sed. Optio reprehenderit id, dolorum neque dolore earum incidunt, repellat! Omnis unde fugiat eius molestias officia expedita consequuntur, illo blanditiis. Temporibus repudiandae consequuntur eum voluptatibus tempora nulla fuga quos autem cupiditate maxime, eius omnis qui a, ratione illum beatae harum in earum quo animi voluptates non aliquid quas. Ratione hic pariatur earum excepturi laborum, quaerat aut. Repellat quis, asperiores tempora perspiciatis minima nemo repudiandae sequi quam quo blanditiis corrupti iste ipsam optio reprehenderit ducimus a mollitia laboriosam ad quod autem ullam pariatur doloremque omnis! Natus est, maiores tempora dignissimos laudantium, laboriosam necessitatibus delectus reiciendis. Suscipit delectus, officiis, maxime, at distinctio voluptate consequuntur ducimus blanditiis consectetur excepturi repellendus ex magni quaerat. Nobis perferendis ratione, illo assumenda, labore tempore cupiditate alias harum nam, reiciendis hic quibusdam nihil voluptatem. Quidem, consectetur ducimus architecto voluptatum voluptates, placeat porro molestias dicta, impedit voluptatem numquam aspernatur iste blanditiis est culpa. Nostrum adipisci non, voluptas qui consectetur obcaecati consequatur aperiam, amet, asperiores tempora consequuntur animi placeat minus necessitatibus doloremque! Sit unde, labore ab facilis atque quas maiores praesentium quasi, nam ex, velit. Quae soluta eum magni, maiores nemo temporibus pariatur, ullam obcaecati at libero iste ducimus, necessitatibus adipisci cum. Nisi ipsa soluta possimus minus a quis itaque, et debitis, rem dolore necessitatibus libero placeat, facilis fugit nulla. Quidem fugit sit omnis sed doloremque aperiam recusandae quam, delectus ut dolorem officiis mollitia magnam eligendi, vero totam qui voluptas cum provident tenetur? Quae fugiat dolores perspiciatis eveniet aliquid! Suscipit quae animi impedit veniam, incidunt cupiditate similique temporibus sint rerum, sunt eveniet dolorum. Vel assumenda accusamus inventore beatae consequuntur eum, dolorem voluptates iure magnam, tempora nihil tempore, saepe debitis porro molestias eaque repellat quidem quia nulla exercitationem a. Quaerat dignissimos, nostrum illum dolores officia error quasi alias mollitia, minima qui enim, rem a, corporis distinctio. Velit sunt, sit laborum numquam architecto. Temporibus, laboriosam. Minima aut praesentium dolor ad nihil corrupti dolorum harum quasi pariatur laboriosam sint, repellat itaque consequatur ratione nobis veritatis doloremque error ullam ut asperiores suscipit excepturi porro? Officia unde a rerum consequatur!

		section#services
			.container
				.row
					.column-6
						h2 Services
				.row
					.column.column-3
						img.img-responsive(src="http://lorempixel.com/400/400/abstract", alt="")
					.column.column-3
						img.img-responsive(src="http://lorempixel.com/400/400/abstract", alt="")
					.column.column-3
						img.img-responsive(src="http://lorempixel.com/400/400/abstract", alt="")
					.column.column-3
						img.img-responsive(src="http://lorempixel.com/400/400/abstract", alt="")

		footer
			.container
				.row
					.column.column-4
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam corporis, ab quidem perferendis consectetur corrupti aut reiciendis nihil. Quidem, provident. Eum architecto quod a sequi, ab commodi tempore! Numquam, maxime.
					.column.column-4
						p Made with &hearts; by Pocholabs.
					.column.column-4
						p Social Media
		// Scripts

		script(src="assets/js/aos.js")
		script(src='assets/js/main.js')
